In [1]:
from ggplotly import *
import pandas as pd

In [2]:
data()

['commodity_prices',
 'diamonds',
 'economics',
 'economics_long',
 'faithfuld',
 'iris',
 'luv_colours',
 'midwest',
 'mpg',
 'msleep',
 'mtcars',
 'presidential',
 'seals',
 'txhousing',
 'us_flights',
 'us_flights_edges',
 'us_flights_nodes']

In [21]:
df = data('commodity_prices')

In [22]:
df

              date series   value
0       2007-01-02   CL01   61.05
1       2007-01-02   CL02   62.38
2       2007-01-02   CL03   63.26
3       2007-01-02   CL04   63.95
4       2007-01-02   CL05   64.54
...            ...    ...     ...
692624  2023-10-19  MJP02  110.00
692625  2023-10-19  MJP03  110.00
692626  2023-10-19  MJP04     NaN
692627  2023-10-19  MJP05     NaN
692628  2023-10-19  MJP06     NaN

[692629 rows x 3 columns]

In [23]:
df.date = pd.to_datetime(df.date)

In [24]:
df

             date series   value
0      2007-01-02   CL01   61.05
1      2007-01-02   CL02   62.38
2      2007-01-02   CL03   63.26
3      2007-01-02   CL04   63.95
4      2007-01-02   CL05   64.54
...           ...    ...     ...
692624 2023-10-19  MJP02  110.00
692625 2023-10-19  MJP03  110.00
692626 2023-10-19  MJP04     NaN
692627 2023-10-19  MJP05     NaN
692628 2023-10-19  MJP06     NaN

[692629 rows x 3 columns]

In [25]:
df = df[df.series == 'CL01'].set_index('date').value

           series  value
date
2007-01-02   CL01  61.05
2007-01-03   CL01  58.32
2007-01-04   CL01  55.59
2007-01-05   CL01  56.31
2007-01-08   CL01  56.09
...           ...    ...
2023-10-13   CL01  87.69
2023-10-16   CL01  86.66
2023-10-17   CL01  86.66
2023-10-18   CL01  88.32
2023-10-19   CL01  89.37

[4233 rows x 2 columns]

In [ ]:
df

In [ ]:
ggplot(df) + geom_line()